<h1>Contact List</h1>

<div>

<table style="margin: 20px; width:100%" class="table table-striped table-hover table-condensed" id="contact-list">
  <tr id="table-header">
    <th>Name</th>
    <th>Phone Number</th> 
    <th>Email</th>
  </tr>
</table>

</div>
<br>

<div class="well" style="margin: 20px;">
	<h3>Add Contact</h3>

	<form id="add-contact-form">
	  <div class="form-group">
	    <label for="">First Name:</label>
	    <input type="text" class="form-control" id="" name="first_name" required>
	  </div>
	  <div class="form-group">
	    <label for="">Last Name:</label>
	    <input type="text" class="form-control" id="" name="last_name" required>
	  </div>
	  <div class="form-group">
	    <label for="">Phone Number:</label>
	    <input type="text" class="form-control" id="" name="phone" required>
	  </div>
	  <div class="form-group">
	    <label for="">Email:</label>
	    <input type="text" class="form-control" id="" name="email" required>
	  </div>

		<br>
	  <div class="form-group btn-login">
	    <button type="submit" class="btn btn-submit" id="contact-button">Add Contact</button>
	  </div>
	</form>
</div>